* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px);
}
.header {
    display: flex;
    align-items:center;
    justify-content: center;    
    height: 50px;
    font-size: 25px;
    background: rgb(211, 199, 63);
}
.footer {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 50px;
    font-size: 25px;/*розмір шрифту футера*/
    background: palegoldenrod;/*задній фон футера*/

}
