.mysubform input {
    display:block;
    font-size:14px;
    font-family:"Helvetica", "Arial", "Tahoma", "Geneva", sans-serif;
}

.mysubform p {color:#fff; text-align:center;}
.form_container {position:relative;}
.mysubform {
    padding:10px; 
    margin:10px; 
    background:#e7a4a4; 
    border:1px solid #ccc;
    position:absolute;
}
.mysubform input[type="text"] {
    padding:7px 5px; 
    margin-bottom:10px; 
    background:#ebc2c2;
    color:#fff;
    width:250px;
    border:0;
    border-radius:3px;
}
.mysubform input[type="submit"] {
    padding:7px;
    background:rgba(0, 0, 0, 0);
    color:#FFFC00; border:2px solid #FFFC00;
    border-radius:5px;
    margin:auto;
    width:200px;
}

::-webkit-input-placeholder { /* WebKit browsers */
   color:    #fff;
    opacity: 1 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}